#container {
  text-align: center;
  color: white;
  background-color: black;
  height: 100%;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#title {
  position: relative;
  top: 48%;
}
#heightInputFormContainer {
  color: white;
  position: relative;
  top: 50%;
}

#connectButtonContainer {
  position: relative;
  top: 50%;
}

#connectButton {
  border-radius: 10px;
  border-color: red;
  width: 100px;
  height: 100px;
}
