<div id="container">
  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  <form action="#" id="heightInputForm">
    Height: <input type="text" id="userHeight" name="height" [(ngModel)]='height'>
    <br>
    <br>
    <input type="button" value="Submit" (click)="ngOnClick()">
  </form>

  <div id="connectButtonContainer">
    <button id="connectButton" (click)="ngConnectClick()" style='width: 100px; height: 100px;'>Connect to HC-02</button>
  </div>

  <div id="debugContainer">
    <p>
      {{debugText}}
    </p>
  </div>

  <div id="dataReadContainer">
    <p>
      {{dataText}}
    </p>
  </div>
</div>
