<div id="container">
  <div style="position: relative; top: 20%; left: 10%;">
    <img src="assets/images/logo.png" alt="">
  </div>

  <strong id="title">{{ name }}</strong>

  <div *ngIf="tab === 'tab2'" id="heightInputFormContainer">
    <form action="#" id="heightInputForm">
      <input type="text" id="userHeight" name="height" [(ngModel)]='height' style="border-radius: 8px; border-color: red; color: black; height: 50px; font-size: 14pt;">
      <br>
      <br>
      <input type="button" value="Submit" (click)="ngOnClick()" style="color: black; border-radius: 10px; border-color: red; width: 100px; height:50px;">
    </form>
  </div>

  <div *ngIf="tab==='tab1'" id = "connectButtonContainer">
    <button id="connectButton" (click)="ngConnectClick()">Connect to HC-02</button>
  </div>

  <div id="debugContainer">
    <p>
      {{debugText}}
    </p>
  </div>

  <div id="dataReadContainer">
    <p>
      {{dataText}}
    </p>
  </div>
</div>
